body {
  font-family: Arial, sans-serif;
  background-color: #0f1724;
  color: #e6eef6;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #111c2e;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 30px;
}

.filmes {
  max-width: 650px;
}

.card {
  background-color: #1a2435;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.formulario {
  background-color: #1a2435;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  height: fit-content;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: #0f1724;
  color: #fff;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #06b6d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0891b2;
}

.erro {
  color: #ff7b7b;
  font-size: 13px;
  display: none;
}

.sucesso {
  color: #16a34a;
  font-weight: bold;
  margin-top: 15px;
  display: none;
}

footer {
  text-align: center;
  background-color: #111c2e;
  padding: 15px;
  margin-top: 20px;
}
